<!--{% load staticfiles %}-->
{% extends 'base.html' %}
{% load static %}

{% block content %}

{% endblock %}
<html>
<head>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<div class = "top-bar">
    <section class="top-bar-section">
        <ul>
            {% if username %}
                <li><a href="/auth/logout/">Выйти ({{ username }}) </a></li>
            {% else %}
                {{ username }}
                {{ reg }}
                <a class="right" href="/auth/login/">Войти </a>
            {% endif %}
        </ul>
    </section>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            <h1>Hello!</h1>
            <!--<div>-->
                <!--<form action="" method="post">{% csrf_token %}-->
                    <!--{{ form.as_p }}-->
                    <!--<div>-->
                        <!--<button type="submit" class="btn btn-primary">Отправить</button>-->
                    <!--</div>-->
                <!--</form>-->
            <!--</div>-->
        </div>
    </div>
</div>

{% block login %}{% endblock %}
</body>
</html>