{% load staticfiles %}
{% load static %}

{% block content %}
<html>
<head>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
{% include 'navbar.html' %}

<div class="container">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            <h1>Hello!</h1>
        </div>
    </div>

    <div class="row">
        <div class="span">
            <ul class="breadcrumb">
                <li>Categories</li>
            </ul>
        <div class="span product_list">
            <ul class="nav">
                <li>
                    <a class="active" href="/">Desktops</a>
                    <ul>
                        <li>
                            <a href="">anything</a>
                        </li>
                         <li>
                            <a href="">anywhere</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="">other</a>
                </li>
                <li>
                    <a href=""><cars></cars></a>
                </li>
            </ul>
        </div>
</div>
          {% for adv in advs %}
            <div class="col-lg-3">
                <a href="{%  url 'adv' adv.id %}">
                    <div class="product-item">
                        <div>
                          {% for image in adv.imageinadv_set.all %}
                            <img src="{{ image.image.url}}" class="product-image">
                          {% endfor %}
                        </div>
                      <h4> {{ adv.subj }} </h4>
                        <p>
                            {{ adv.comments|truncatechars_html:40 }}
                        </p>
                        <p>
                            {{ adv.test_set.f }}
                        </p>
                    </div>
                </a>
            </div>
          {% endfor %}


        <!--{% for imageInAdv in imagesInAdv %}-->
            <!--<div class="col-lg-3">-->
                <!--<a href="{%  url 'adv' imageInAdv.adv_id %}">-->
                    <!--<div class="product-item">-->
                        <!--<div>-->
                          <!--<img src="{{ imageInAdv.image.url }}" >-->
                        <!--&lt;!&ndash;<img src="/static/media/images_adv/puzzle.png   "&ndash;&gt;-->
                        <!--</div>-->
                      <!--<h4> {{ imageInAdv.adv.subj }} </h4>-->
                        <!--<p>-->
                            <!--{{ imageInAdv.adv.comments|truncatechars_html:40 }}-->
                        <!--</p>-->
                    <!--</div>-->
                <!--</a>-->
            <!--</div>-->
          <!--{% endfor %}-->
        </div>
</div>

{% block login %}{% endblock %}
</body>
</html>
{% endblock %}