{% load staticfiles %}
{% load static %}

{% block content %}
<html>
<head>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
{% include 'navbar.html' %}

<aside id="menu">
    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width:auto; height: 100%;">
        <ul class="nav" id="side-menu">
            <li class="active">
                <a href="/">
                    <span class="nav-label"> safd </span>
                </a>
            </li>
            <li>
                <a href="/">
                    <span class="nav-label"> test </span>
                </a>
            </li>
        </ul>
    </div>
</aside>>

<div class="container">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            <h1>Hello!</h1>
        </div>
    </div>
    <div class="row">
          {% for adv in advs %}
            <div class="col-lg-3">
                <div class="product-item">
                    <div>
                        <img src="/".url >
                    </div>
                  <h4> {{ adv.subj }} </h4>
                    <p>
                        {{ adv.comments|truncatechars_html:40 }}
                    </p>
                </div>
            </div>
          {% endfor %}
        </div>
</div>

<!--{% block login %}{% endblock %}-->
</body>
</html>
{% endblock %}