{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <div class = "top-bar">
            <section class="top-bar-section">
                <ul>
                    {% if username %}
                        <li>
                            <a href="/auth/logout/">Выйти ({{ username }}) </a>
                            <form class="add-adv" action="/adv/add/" method="post">
                                {% csrf_token %}
                                <button type="submit">Добавить объявление</button>
                            </form>

                            <!--<input class="add-adv" type="button" value="Добавить объявление" href="{% url 'add' %}">-->
                        </li>
                    {% else %}
                        {{ username }}
                        {{ reg }}
                        <a class="right" href="/auth/login/">Войти </a>
                    {% endif %}
                </ul>
            </section>
        </div>
    </body>
</html>