{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <div class = "top-bar">
            <section class="top-bar-section">
                <ul>
                    {% if username %}
                        <li>
                            <a href="/auth/logout/">Выйти ({{ username }}) </a>
                            <button class="add-adv" href="/add/adv/">Добавить объявление</button>
                        </li>
                    {% else %}
                        {{ username }}
                        {{ reg }}
                        <a class="right" href="/auth/login/">Войти </a>
                    {% endif %}
                </ul>
            </section>
        </div>
    </body>
</html>